tr td {
    display:block;
    height: 32px;
    
      
} 
	tr td input {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    height: 32px;
    line-height: 32px;
   margin-left:20px;
    
}
	
